@tailwind base;
  @tailwind components;
  @tailwind utilities;

.row {
 @apply flex w-full justify-between space-x-2 md:space-x-6 space-y-4 items-end border-y hover:bg-gray-200
}

.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    padding: 20px;
    background: white;
    border-radius: 5px;
    display: block;
    flexDirection: column;
    alignItems: center;
}
.entry {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.details p {
    margin: 0;
    color: #333;
}
